.card-container {
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1),
    0px 4px 6px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  padding: 33px;
  position: relative;
}

.card-title {
  color: rgb(31, 41, 55);
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 28px;
}

.card-subtitle {
  color: rgb(75, 85, 99);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 32px;
  line-height: 1.5;
}

.card-button {
  box-sizing: border-box;
  border-radius: 8px;
  background: rgb(79, 70, 229);
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0;
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  cursor: pointer;

  &:disabled {
    background: rgb(79, 70, 229, 0.4);
    color: rgb(255, 255, 255);
    cursor: not-allowed;
  }
}

.mood-loader {
  background: rgb(79, 70, 229);
  width: 6rem;
  height: 6rem;
  top: calc(50% - 3rem);
  left: calc(50% - 3rem);
  position: absolute;
}